@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.font-oswald {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0px;
}

#loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
  animation: nestani 1.5s linear forwards;
  background-color: white;
}

#loader img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}

.logo-text {
  display: flex;
  width: 100%;
  justify-content: center;

  align-items: center;
  gap: 20px;
}

.loader-text {
  text-align: start;
  margin: 0px;
}

.loader-big {
  font-size: 2rem;
  font-weight: 500;
  margin: 0px;
}

.loader-small {
  font-size: 1.5rem;
  margin-bottom: -10px;
  color: gray;
  font-weight: 300;
}

.linija {
  animation: animacija 1.5s forwards ease-in;

  background: green;
  height: 5px;

  margin-top: -20px;
}

@keyframes animacija {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes nestani {
  0% {
    display: flex;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .logo-text {
    flex-direction: column;
  }

  #loader img {
    height: 100px;
  }

  .linija {
    margin-top: 20px;
  }
}

#novo {
  position: absolute;
  background-color: #e44451;
  color: white;
  font-weight: bold;
  padding: 0.4rem 3rem;
  font-family: "Montserrat", sans-serif;

  right: -3rem;
  top: -0.5rem;
  font-size: 1.7rem;

  transform: rotate(45deg);
}
